<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsx5p8vy0d3lqOprVh0lpr_CkwrzMNd2M</string>
	<key>GCM_SENDER_ID</key>
	<string>539093851056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bytebrahmandCodeshastra.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bytebrahmand-codeshastra</string>
	<key>STORAGE_BUCKET</key>
	<string>bytebrahmand-codeshastra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539093851056:ios:d5ad40e0b913206921d475</string>
</dict>
</plist>